.html__row, .tabs__anchors {
  font-size: 0;
  margin-left: auto;
  margin-right: auto; }

.html__col_version, .html__col_header, .html__col_links, .html__col_description, .html__col_tabs, .tabs__anchor, .tabs__content_active {
  font-size: 16px;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top; }

.links, .tabs__anchors {
  margin: 0;
  list-style: none;
  padding-left: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  width: 90%;
  margin: auto;
  padding: 2vh 0; }

.html {
  border: 1px solid #000;
  -webkit-box-shadow: 0 0 10px 0 #000;
  box-shadow: 0 0 10px 0 #000; }

.html__row {
  width: 100%; }
  .html__row + .html__row {
    border-top: 1px solid #000; }

.html__col {
  height: 100%; }

.html__col_version {
  width: 8.33333%;
  padding-left: 0px;
  padding-right: 0px; }

.html__col_header {
  width: 75%;
  padding-left: 0px;
  padding-right: 0px; }

.html__col_links {
  width: 16.66667%;
  padding-left: 0px;
  padding-right: 0px; }

.html__col_description {
  width: 50%;
  padding-left: 0px;
  padding-right: 0px; }

.html__col_tabs {
  width: 50%;
  padding-left: 0px;
  padding-right: 0px;
  border-left: 1px solid #000; }

.links {
  text-align: right; }

.links__item {
  display: inline-block; }

.tabs__anchors {
  width: 100%;
  border-bottom: 1px solid #000; }

.tabs__anchor {
  width: 50%;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  cursor: pointer; }
  .tabs__anchor_active {
    color: red; }
  .tabs__anchor + .tabs__anchor {
    border-left: 1px solid #000; }

.tabs__contents {
  position: relative; }

.tabs__content {
  display: none; }
  .tabs__content_active {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    display: block; }
